*{margin: 0;padding:0;list-style: none;}
#radioBox{
    width: 153px;
    height:27px;
    margin: 20px auto;
    position: relative;
}
#radioBox input{
    position: absolute;
    opacity: 0;
}
#radioBox label{
    width: 77px;
    height:27px;
    border-radius: 15px;
    display: block;
    background:url(../img/kkk.png);
    -webkit-transition:all 1s;
}
#radioBox input:checked+label{
    background-position:-51px 0;
}

#checkBox1{
    width:50px;
    height: 30px;
    position: relative;
    margin: 0 auto;
}
#checkBox1 input{
    position: absolute;
    opacity: 0;
}
#checkBox1 label{
    width: 50px;
    height:30px;
    display: block;
    background: url(../img/no_choose.png);
    background-size:100%;
    -webkit-transition:all 1s;
}
#checkBox1 input:checked+label{
    background: url(../img/true_btn.png);
    background-size: 100%;
}

#moreChecked{
    width: 200px;
    height:25px;
    margin: 40px auto;
}
#moreChecked li{
    float: left;
    position: relative;
    line-height: 25px;

}
#moreChecked li input{
    position: absolute;
    opacity: 0;
}
#moreChecked li label{
    width: 25px;
    height: 25px;
    display: block;
    padding-left: 30px;
    background: url(../img/an.png) no-repeat;
    background-position: 0 -75px;
}
#moreChecked li input:checked+label{
    background-position: 0 -100px;
}